
body {
    background-color: #f7efb9;
}


 .container {
 	text-align: left;
 }


 #heading {
 	background-color: #ccaae2;
 	padding-top: 50px;
 	padding-bottom: 50px;
 	text-align: center;
 }

 #main-content {
 	background-color: #ccaae2;
 	margin-top: 20px;
 	padding: 40px;
 }